<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>At foo bar</title>
  </head>
  <body>
    <h1>At foo bar</h1>
    <h2><%=food.name %></h2>
    <img src=<%=food.image + ".png"%>" alt="image"> 
    <h3>$<%=food.price %></h3>
    <a href="/food" class="back-btn">Back</a>
   
  </body>
</html>
