<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Drinks Menu</title>
  </head>
  <body>
    <h1>Special Drinks Menu</h1>

    The <%=drinks.name; %> is <%=drinks.price; %>. 
    <%=drinks.image; %>
    <% } %>

  </body>
</html>